@model List<SliderSliderInfo>

@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <a class="btn btn-success" asp-area="Admin" asp-controller="Slider" asp-action="Create">Create Slider</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Image
                            </th>
                            <th>
                               Title
                            </th>
                            <th>
                                Description
                            </th>
                         
                        </tr>
                    </thead>
                    <tbody>
                     @foreach(var item in Model){

                            <tr>
                                <td class="py-1">
                                    <img src="~/assets/images/@item.Image"  />
                                </td>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                   @item.Description
                                </td>
                                <td>
                                    <a class="btn btn-info" asp-area="Admin" asp-controller="Slider" asp-route-id = "@item.Id" asp-action="Detail">Detail</a>
                                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Slider" asp-action="Update">Edit</a>
                                    <a class="btn btn-danger" asp-area="Admin" asp-controller="Slider" asp-action="Delete">Delete</a>
                                </td>

                            </tr>
                     }
                   
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

